
  {% extends 'base.html' %}
  {% block cadastro %}
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <div class="container">
                        <div class="row">
                          <div class="col-lg-10 col-xl-9 mx-auto">
                            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                              <div class="card-img-left d-none d-md-flex">
                                <!-- Background image for card set in CSS! -->
                              </div>
                              <div class="card-body p-4 p-sm-5">
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Cadastro</h5>
                                <form action="register" method="post">
                    
                                  <div class="form-floating mb-3">
                                    <input type="str" class="form-control" id="floatingInputUsername" name="username" placeholder="myusername" required autofocus>
                                    <label for="floatingInputUsername">Usuário</label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <input type="str" class="form-control" id="floatingInputEmail" name="name" placeholder="nome" required autofocus>
                                    <label for="floatingInputEmail">Nome</label>
                                  </div>
                    
                                  <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInputEmail" name="email" placeholder="name@example.com">
                                    <label for="floatingInputEmail">Email</label>
                                  </div>
                    
                                  <hr>
                    
                                  <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="********">
                                    <label for="floatingPassword">Senha</label>
                                  </div>
                    
                                  <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="********">
                                    <label for="floatingPasswordConfirm">Confirme a  Senha</label>
                                  </div>
                    
                                  <div class="d-grid mb-2">
                                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Cadastro</button>
                                  </div>
                    
                                  <a class="d-block text-center mt-2 small" href="#">já possui conta? Entrar</a>
                    
                                  <hr class="my-4">
                    
                                  <div class="d-grid mb-2">
                                    <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                                      <i class="fab fa-google me-2"></i> Entrar com Google
                                    </button>
                                  </div>
                    
                                  <div class="d-grid">
                                    <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                                      <i class="fab fa-facebook-f me-2"></i> Entrar com Facebook
                                    </button>
                                  </div>
                    
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>


        </header>
 {% endblock %}