{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}

<div class="jumbotron">
<h1>One Click</h1>
<p class="lead">The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.</p>
<p><a class="btn btn-lg btn-success" href="#" role="button">Inscreva-se hoje</a></p>
</div>

<div class="row marketing">
<div class="col-lg-6">
  <h4>Subtítulo</h4>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.</p>

  <h4>Subtítulo</h4>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.</p>

  <h4>Subtítulo</h4>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.</p>
</div>

<div class="col-lg-6">
  <h4>Subtítulo</h4>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.</p>
  <h4>Subtítulo</h4>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.</p>

  <h4>Subtítulo</h4>
  <p>The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.</p>
</div>
</div>

{% endblock %}