<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do curso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/modules.css')}}">
</head>
<body>
    <section class="pageView">
        <div>
            <div class="header">          
                <div>  
                    <h2>Bem vindo(a) de volta,  {{ current_user.name }}</h2>
                </div>
                <div class="logout">
                    <a href="/logout">Sair</a>
                </div>
            </div>
            <div class="progress">
                <div>                
                    <div class="workload">    
                        <h3>Seu progresso no curso</h3>
                        <p>11% Concluído</p>
                    </div>
                </div>
                <div class="progressBar">
                    <div class="percent"></div>
                </div>
            </div>
            <h1>TRILHA FRONT-END</h1>
            <div class="modulesContainer">
                
               <a href="courseTemplate.html"><div class="modules">
                    <div class="moduleTitle"><h2>Módulo 1: HTML</h2></div>
                    <div class="moduleProgress">
                        <div class="moduleWorkload">
                            <p>4 Aulas</p>
                            <span>20 Horas</span>
                        </div>
                        <div class="moduleEvo">
                            <p>11% Concluído</p>
                        </div>
                    </div></a>
                </div>
                <div class="modules">
                    <div class="moduleTitle"><h2>Módulo 2: CSS</h2></div>
                    <div class="moduleProgress">
                        <div class="moduleWorkload">
                            <p>4 Aulas</p>
                            <span>20 Horas</span>
                        </div>
                        <div class="moduleEvo">
                            <p>0% Concluído</p>
                        </div>
                    </div>
                </div>
                <div class="modules">
                    <div class="moduleTitle"><h2>Módulo 3: JAVASCRIPT</h2></div>
                    <div class="moduleProgress">
                        <div class="moduleWorkload">
                            <p>4 Aulas</p>
                            <span>60 Horas</span>
                        </div>
                        <div class="moduleEvo">
                            <p>0% Concluído</p>
                        </div>
                    </div>
                </div>
                <div class="modules">
                    <div class="moduleTitle"><h2>Módulo 4: REACT</h2></div>
                    <div class="moduleProgress">
                        <div class="moduleWorkload">
                            <p>4 Aulas</p>
                            <span>80 Horas</span>
                        </div>
                        <div class="moduleEvo">
                            <p>0% Concluído</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="../src/js/progress.js"></script>
</body>
</html>