{% extends 'base.html' %}
{% block login %}

    <div class="container w-50 vh-100 pt-5">
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>Cadastre-se agora</legend>
          <div class="form-group">
            {{form.username.label(class="form-control-label")}} 
            {%if form.username.errors%}
            {{form.username(class="form-control form-control-lg is-invalid")}}
              {%for error in form.username.errors%}
                <span>{{error}}</span>
              {%endfor%}
              {%else%}
              {{form.username(class="form-control form-control-lg")}}
            {%endif%}
          </div>
          <div class="form-group">
            {{form.password.label(class="form-control-label")}} 
            {%if form.password.errors%}
            {{form.password(class="form-control form-control-lg is-invalid")}}
              {%for error in form.password.errors%}
                <span>{{error}}</span>
              {%endfor%}
              {%else%}
              {{form.password(class="form-control form-control-lg")}}
            {%endif%}
          </div>
        </fieldset>
        <div class="field-group mt-3">
          {{form.submit(class='btn btn-primary')}}

        </div>
      </form>

    </div>


        <!-- Header
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                            <div class="card border-0 shadow rounded-3 my-5">
                              <div class="card-body p-4 p-sm-5">
                                <h5 class="card-title text-center mb-5 fw-light fs-5">Entrar</h5>
                                <form action="" method="POST">
                                  {{ form.csrf_token }}
                                  <div class="form-floating mb-3">
                                    {{ form.username(class="form-control", id="floatingInput", placeholder="Username")}}
                                    <label for="floatingPassword">Usuário</label>                                   
                                  </div>
                                  <div class="form-floating mb-3">
                                    {{ form.password(class="form-control", id="floatingPassword", placeholder="Senha")}}
                                    <label for="floatingPassword">Senha</label>
                                  </div>
                    
                                  <div class="form-check mb-3">
                                    {{ form.remember_me}}
                                    <label class="form-check-label" for="rememberPasswordCheck">
                                      Lembrar Senha 
                                    </label>
                                  </div>
                                  <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Entrar</button>
                                  </div>
                                  <hr class="my-4">
                                  <div class="d-grid mb-2">
                                    <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                                      <i class="fab fa-google me-2"></i> Entrar com Google
                                    </button>
                                  </div>
                                  <div class="d-grid">
                                    <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                                      <i class="fab fa-facebook-f me-2"></i> Entrar com Facebook
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>


        </header>-->

  {% endblock%}      
